div.footer.container {
  padding-inline: 15vw;
}

div.footer {
  background: #0f0f0f;
  color: white;
  padding-block: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
  .footer-title {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 0.8em;
  }
  .footer-typography {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 0.2em;
    opacity: 0.9;
  }
}