.navbar {
  min-height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background: var(--background-color);
  color: var(--text-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 4;
  position: fixed;
  width: 100%;
  top:0;

  a {
    text-decoration: none;
  }

  // LOGO
  .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);

    span {
      color: var(--text-color)
    }
  }

  // LINK BAR
  .nav-link {
    a {
      font-size: 0.9em;
      margin-left: 1em;
      color: var(--text-light);
      letter-spacing: 2px;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        height: 5px;
        width: 100%;
        background: var(--primary-color);

        position: absolute;
        bottom: -3px;
        left: 0;
        transform: scaleX(0);
        transition: transform calc(var(--animation-speed)*0.25s) ease-in-out;
      }

      &:hover {
        color: var(--text-color);

        &::before {
          transform: scaleX(1);
        }
      }

      &.active {
        color: var(--primary-color);
        font-weight: 700;
      }
    }
  }

  // Burger icon
  div.sidebar-btn {
    height: 29px;
    width: 27px;
    display: none;
    position: relative;

    .sidebar {
      background: var(--text-color);
      width: 100%;
      height: 7px;
      border-radius: 3px;
      transition: transform calc(var(--animation-speed)*0.15s) ease-in;

      position: absolute;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: scaleX(80%) translateY(-50%);
        transform-origin: right;
      }

      &:nth-child(3) {
        top: 100%;
        transform: scaleX(110%) translateY(-100%);
        transform-origin: right;
      }
    }

    &.active {
      .sidebar {
        transform-origin: center;

        &:nth-child(1) {
          transform: translateY(-50%) rotate(-45deg);
          top: 50%;
        }

        &:nth-child(2) {
          height: 0;
        }

        &:nth-child(3) {
          transform: translateY(-50%) scaleX(100%) rotate(45deg);
          top: 50%;
        }
      }
    }
  }
}

div.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: var(--background-light);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px var(--shadow-color);
  animation: calc(var(--animation-speed)*0.2s) slideInLeft;
  z-index: 5;

  .sidebar-link {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-left: 0.4em solid transparent;
    color: var(--text-color);
    font-size: 1.2em;
    transform: translateX(-100%);
    animation: calc(var(--animation-speed)*0.2s) slideInLeft forwards;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay:#{$i * 0.1}s;
      }
    }

    &.active {
      border-left: 0.4em solid var(--primary-color);
    }

    svg {
      width: 1.5em;
      margin-right: 1em;
    }

    &:hover {
      border-left: 0.4em solid var(--primary-color);
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.navbar.container {
  padding-inline: 15vw;
}